# Copia este archivo como ".env" y completa los valores reales.

DB_USER=
DB_PASSWORD=

CAR_DB_NAME=car-service-db
USER_DB_NAME=user-service-db

CAR_DB_PORT=55432
USER_DB_PORT=55433

CAR_SERVICE_PORT=8091
USER_SERVICE_PORT=8092